a.primary-brand-color {
    color: #c92800
}
body {
    padding-top: 65px;
    height:100%;
}
html {
    height:100%;
}
.map-wrapper {
    position: relative;
    height: calc(100vh - 4em - 64px);
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}